
$alto: #D8D8D8;
$tundora: #4A4A4A;
$mercury: #E6E6E6;
$athens-gray: #F4F4F6;
$cod-gray: #1B1A19;
$dusty-gray: #9B9B9B;
$gray: #838383;
$boston-blue: #3882C9;
$fountain-blue: #4FB4B6;
$light-wisteria: #CA82D1;
$wewak: #F29E9C;
$gallery: #ECECEC;
$azure-radiance: #0086f4;
$monza: #D0021B;
$alto: #E0E0E0;