@import '~@angular/material/theming';
@import './mat-lc-custom-thme-pallet';


@include mat-core();

$primary: mat-palette($mat-lc-custom-theme);
$accent:  mat-palette($mat-lc-custom-theme2);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);
